{% extends './base.html' %} {% block title%} Best Tower {% endblock %} {% block
body %}
<input type="text" value="farm" id="nombrePagina"></input>


<div class="row">
  <div class="col-md-3  d-flex  mt-4"  >
    <div class="card" style="width: 100%;"  >
      <div class="card-body" id="searchFarmId" style="display: none;">
        <label for="idFarm" class="form-label">Farm ID</label>
        <input type="text" class="form-control" id="idFarm" placeholder="Enter the farm id">
        <div class="d-flex justify-content-center ">
          <button type="button" class="btn btn-primary mt-4" onclick="validateIdForm();" id="botonCargando">
            Get details <span id="cargando" style="display: none;" ><i class="fas fa-circle-notch fa-spin"></i></span>
          </button>
        </div>
        <div class="alert alert-info mt-2" role="alert" id="mensajeEspera" style="display: none;">
          We are performing the necessary operations, please wait a short moment.
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-9  d-flex  mt-4" style="width: 100%;" >
   
    <div class="card" style="width: 100%; display: none;" id="reportFarm">
      <div class="row">
        <div class="col-md-12">
          <p class="h5 ml-4 mt-3 d-flex justify-content-center" id="titleFarm" ></p>
          <hr>
        </div>
      </div>
      
    
      <div class="row">
        <div class="col-md-3">
          <div class="card-body">
            <div class="card" style="width: 100%;">
              <div class="card-header h6 d-flex justify-content-center" style="background-color: black; color: white;">
                Total towers
              </div>
              <div class="card-body d-flex justify-content-center h1" id="totalRow">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          
          <div class="card-body">
            <div class="card" style="width: 100%;">
              <div class="card-header h6 d-flex justify-content-center" style="background-color: black; color: white;">
                Best Tower
              </div>
              <div class="card-body d-flex justify-content-center">
                  <table class="table table-sm table-hover">
                    <tbody>
                      <tr>
                        <td><b>Tower ID</b></td>
                        <td id="towerIdHighest"></td>
                      </tr>
                      <tr>
                        <td><b>Average RSSI</b></td>
                        <td id="averageRssiTower"></td>
                      </tr>
                    </tbody>

                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>

     
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover"  id="details">
            <thead class="thead-dark">
              <tr >
                <th class="h6">N°</th>
                <th class="h6">Tower ID</th>
                <th class="h6">Average Rssi</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>



<!--Asociar archivo script js de esta página-->
<script src="{{ url_for('static', filename='js/farm.js') }}"></script>
{% endblock %}
